<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>PBL</title>
    <link
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
            crossorigin="anonymous"
    />
    <link
            href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css"
            rel="stylesheet"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" th:href="@{/css/globalStyles.css}" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous" defer></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous" defer></script>
    <script src="https://kit.fontawesome.com/b78e2da6f5.js" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" th:href="@{/logged}">PBL</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav w-100">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Zadania
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <div th:if="${user.role=='ROLE_ADMIN'}">
                        <a class="dropdown-item" th:href="@{/logged/tasks}">Nowe zadanie</a>
                        <a class="dropdown-item" th:href="@{/logged/importtasks}">Importuj zadania</a>
                        <a class="dropdown-item" th:href="@{/logged/queues}">Zarządzaj kolejkami</a>
                    </div>
                    <div th:if="${user.role!='ROLE_ADMIN'}">
                        <a class="dropdown-item" th:href="@{/logged/tasks}">Nowe zadanie</a>
                        <a class="dropdown-item" th:href="@{/logged/importtasks}">Importuj zadania</a>
                        <a class="dropdown-item" th:href="@{/logged/queues}">Zarządzaj kolejkami</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logged/results}">Wyniki</a>
            </li>
            <li class="nav-item">
                <div th:if="${user.role=='ROLE_ADMIN'}">
                    <a class="nav-link" th:href="@{/manager}">Zarządzaj użytkownikami</a>
                </div>
            </li>
            <li class="nav-item ml-auto">
                <a class="nav-link" th:href="@{/logout}">Wyloguj</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div th:if="${message}" style="color: red">
        <h2 th:text="${message}"/>
    </div>
    <div class="row d-flex p-2 justify-content-center">
        <div class="col-4">
            <form method="POST" class="form-container p-3"  th:action="@{/logged/tasks/choose}">
                <h2>Wybierz zestaw</h2>
                <div class="form-group">
                    <label for="shape">Nazwa zestawu:</label>
                    <select id="shape" name="shape" class="form-control" onchange='if(this.value != 0) { this.form.submit(); }'>
                        <option name="shape" value=""> Wybierz zestaw </option>
                        <option name="shape" th:each="shape : ${shapeList}" th:value="${shape.shapeId}" th:text="${shape.name}">zestaw</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
    <div class="row d-flex p-2 justify-content-center">
        <div class="col-4">
            <form method="POST" class="form-container p-3" th:action="@{/logged/tasks/send}" th:object="${task}">
                <div class="form-group d-flex flex-column">
                    <div th:if="${selectedShape!=null}">

                        <b><span th:text="${selectedShape.name}"></span></b> <span th:text="${selectedShape.command}"></span>
                        <div th:each="parameter : ${selectedShape.parametersList}" class="d-flex align-items-center m-2">
                            <label for="parametr1" class="mr-2"><span th:text="${parameter.switchParam}"></span></label>
                            <input type="text" id="parametr1" name="switchValue" th:field="*{argsValues}" th:value="${switchValue}" placeholder="wartość" class="form-control" required/>
                        </div>

                        <span><b>Wybierz docelowy klaster obliczeniowy: </b></span>
                        <div th:each="queue : ${queues}" class="d-flex align-items-center m-2">
                            <input type="radio" id="parameterQueue" name="switchValue" th:value="${queue.name}" th:field="*{selectedQueueName}" required/>
                            <label for="parameterQueue" class="ml-2"><span th:text="${queue.name}"></span></label>
                            <div th:if="${user.role=='ROLE_ADMIN'}" class="ml-auto">
                                <a th:href="@{/logged/tasks/deletequeue/{queuename}(queuename=${queue.name})}">
                                    <button class="button-icons" type="button">
                                        <i class="fas fa-minus-circle icon-cog"></i>
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between mt-3">
                            <p>Zarządzanie kolejkami zostało przeniesione do osobnej zakładki: <br><i>Zadania -> Zarządzanie kolejkami</i></p>
                        </div>
                        <div class="d-flex justify-content-between mt-3">
                            <button class="btn btn-secondary" type="reset">Reset</button>
                            <button class="btn btn-success" type="submit">Prześlij</button>
                        </div>

                    </div>
                    <div th:if="${selectedShape==null}">
                        <p>Wybierz zestaw</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <button class="import-button" style="background-color: blue"  title="Importuj obliczenia z pliku .CSV" data-target="#uploadModal" data-toggle="modal">+</button>
</div>
<div
        class="modal fade"
        id="uploadModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="uploadModalLabel">Wybierz plik</h5>
                <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" th:action="@{/logged/tasks/upload}" enctype="multipart/form-data">
                    <label for="xlsxFile">Plik</label>
                    <input type="file" id="xlsxFile" name="xlsxFile" accept=".xlsx, .xls" required/>
                    <hr/>
                    <span><b>Wybierz docelowy klaster obliczeniowy: </b></span>
                    <div th:each="queue : ${queues}" class="d-flex align-items-center m-2 form-group">
                        <input type="radio" name="queueId" id="queueId" th:value="${queue.id}" required/>
                        <label for="parameterQueue" class="ml-2"><span th:text="${queue.name}"></span></label>
                    </div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Zamknij
                    </button>
                    <button type="submit" class="btn btn-primary">
                        Importuj
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<footer class="text-center text-lg-start bg-dark text-muted">
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        <p>Wersja aplikacji : <span th:text="${version}"></span> © 2021</p>
    </div>
</footer>
</body>
</html>
