<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>PBL</title>
    <link
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
            crossorigin="anonymous"
    />
    <link
            href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css"
            rel="stylesheet"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" th:href="@{/css/login_style.css}" />
    <script>
        function check_pass()
        {
            if (document.getElementById('password1').value ===
                document.getElementById('password2').value)
            {
                document.getElementById('submit').disabled = false;
            }
            else
            {
                document.getElementById('submit').disabled = true;
            }
        }
    </script>
</head>
<body>
<div class="view-container">
    <div class="form-container shadow-lg p-3 mb-5 bg-body rounded">
        <form method="post" th:action="@{/register}" th:object="${user}">
            <div class="d-flex justify-content-center">
                <img th:src="@{/images/small_logo.jpg}"/>
            </div>
            <div th:if="${message}" style="color: red">
                <h2 th:text="${message}"/>
            </div>
            <div>
                <label for="username">Email</label>
                <input
                        type="email"
                        id="username"
                        name='username'
                        class="form-control"
                        placeholder="Email"
                        pattern=".+@polsl.pl"
                        th:field="*{username}"
                        required
                        autofocus
                />
            </div>
            <div>
                <label for="password1">Hasło</label>
                <input
                        type="password"
                        id="password1"
                        name='password1'
                        th:field="*{password}"
                        class="form-control"
                        placeholder="Hasło"
                        minlength="6"
                        required
                        onchange='check_pass();'
                />
            </div>
            <div>
                <label for="password2">Powtórz hasło</label>
                <input
                        type="password"
                        id="password2"
                        name='password2'
                        class="form-control"
                        placeholder="Hasło"
                        minlength="6"
                        required
                        onchange='check_pass();'
                />
            </div>
            <input
                    name="_csrf"
                    type="hidden"
                    value="b106b144-0efb-4a69-9993-8b4c90f91bdc"
            />
            <div class="form_btn_container">
                <button class="btn btn-lg btn-primary btn-block" type="submit" id="submit">
                    Zarejestruj się
                </button>
            </div>
        </form>
        <div>
            <p>Twoje konto zostanie dodane po zatwierdzeniu przez administratora</p>
        </div>
    </div>
</div>
</body>
</html>
